 /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  :host {
    /* background: #e6f7f5; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    height: auto;
    margin-top: 20px;
  }

  .text-danger{
    color: red;
    margin-bottom: 10px;
  }


  .form-container {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    width: 40%;
    text-align: center;
  }
  
  .login-lable{
    margin-bottom:20px ;
  }



  .form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 15px;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 30px;
    outline: none;
    width: 80%;
  }
  
  .forgot {
    font-size: 13px;
    color: #888;
    margin-bottom: 15px;
    text-decoration: none;
    text-align: right;
  }
  
  .submit-btn {
    padding: 12px;
    background-color: #00bfa5;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
  }

  .btn-deactive {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
  
  .btn-active {
    background-color: #00bfa5;
    color: white;
  }

  .btn-active:hover{
    background-color: black;
    color: white;
  }