<!-- have some issues -->
<!-- @for(item of product; track item.index){
    <ul>
        <li>{{item.price}}</li>
        <li>{{item.stock}}</li>
        <li>{{item.description}}</li>
        <li>{{item.name}}</li>
    </ul>
} -->









<div [ngSwitch]="userType">

    <div *ngSwitchCase="'Admin'">
        <div  *ngFor="let item of product" >
            <ul>
                <li>Drug-Id: {{item.drugId}}</li>
                <li>Name: {{item.name}}</li>
                <li>Price: {{item.price}}</li>
                <li>Description: {{item.description}}</li>
                <li>Stock: {{item.stock}}</li>
                <li><input type="button" value="Delete" (click)="deleteDrug(item.drugId!)"></li>
            </ul>
        </div>
    </div>

    <div *ngSwitchCase="'default'">
        <div *ngFor="let item of product">
            <ul>
                <li>Drug-Id: {{item.drugId}}</li>
                <li>Name: {{item.name}}</li>
                <li>Price: {{item.price}}</li>
                <li>Description: {{item.description}}</li>
                <li>Stock: {{item.stock}}</li>
            </ul>
        </div>
    </div>


</div>