<p>add-product works!</p>
<!-- perfectly working -->

<!-- @for(item of product; track item.id){
    <ul>
        <li>{{item.title}}</li>
        <li>{{item.category}}</li>
        <li>{{item.price}}</li>
        <li>{{item.rating}}</li>
        <li>{{item.stock}}</li>
        <li><img src={{item.thumbnail}} alt=""></li>
    </ul>
  } -->




<!-- <form #form="ngForm" (ngSubmit)="addDrug(form.value)">

  <label for="name">Drug Name:</label>
  <input type="text" name="name" placeholder="name" ngModel>
  <br><br>

  <label for="name">Price:</label>
  <input type="text" name="price" placeholder="price" ngModel>
  <br><br>

  <label for="name">Description:</label>
  <input type="text" name="description" placeholder="description" ngModel>
  <br><br>

  <label for="name">Stock:</label>
  <input type="text" name="stock" placeholder="stock" ngModel>
  <br><br>
  <button>Add Drug</button>

</form> -->






<div class="form-container">
    <h2>{{drugName}} {{message}}</h2>
    <h2 class="register-lable">Add Drug</h2>
    <form #form="ngForm" (ngSubmit)="addDrug(form.value)">
  
      <div class="form">
  
        <!-- full name input field-->
        <input type="text" name="name" placeholder="DrugName" class="form-control" ngModel>
  
        <!-- description input field -->
        <input type="text" name="description" placeholder="Description" class="form-control" ngModel>
  
        <!-- price input field -->
        <input type="number" name="price" placeholder="Price" class="form-control" ngModel>
  
        <!-- stock input field -->
        <input type="number" name="stock" placeholder="Stock" class="form-control" ngModel>
  
        <!-- image input field -->
        <!-- <input type="image" name="image" placeholder="Insert Image" class="form-control"> -->
  
      </div>
      <div>
        <button class="submit-btn">Add Drug</button>
      </div>
    </form>
  </div>
  
  
  
  
  <!-- below form is also working -->
  
  <!-- <div class="container">
      <h2>Add New Product</h2>
      <form [formGroup]="drugForm"  (ngSubmit)="addDrug()">
        <div>
          <label for="name">Drug Name:</label>
          <input type="text" id="name" formControlName="drugName" required>
        </div>
        <div>
          <label for="description">Description:</label>
          <input type="text" id="description" formControlName="description" required>
        </div>
        <div>
          <label for="price">Price:</label>
          <input type="number" id="price" formControlName="price" required>
        </div>
        <div>
          <label for="price">Stock:</label>
          <input type="number" id="stock" formControlName="stock" required>
        </div>
        <button type="submit">Add Product</button>
      </form>
    </div> -->
  
  